body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.headline{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color:aliceblue;
}
.container{
    color: beige;
    
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.text{
    font-size: 40px;
    font-weight: bold;

}

#btn-container{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding: 10px 30px;
    font-size: 15px;
    margin: 0px 10px;
    color: white;
    border: 0px;
    cursor: pointer;
}
#start{
    background-color: green;
}
#stop{
    background-color: blue;
}
#reset{
    background-color: red;
}